


body
{
background-color:##000000;
background-repeat:no-repeat;
letter-spacing:normal;
font-family: 'Lucida Console', Monaco, monospace;
font-size: 16 pt;
text-align: center;
}


a
{
line-height:20px;
text-align: center;
text-decoration: none;
color:##00FFFF;
font-family: 'Lucida Console', Monaco, monospace; 
font-size: 16 pt;
text-align: center;
}

h1 
h1 {
  border: 1px solid #73AD21;
  size: large
}

p {
  color: red;
}
