gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
padding: 10px;
}
h2 {
  font-family: 'Lucida Console', Monaco, monospace;
  margin-left: 100px;
  padding: 10px;
  font-size:small
      }
gallery:hover {
  border: 1px solid #73AD21;
}
small {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size:small;
  margin-left: 100px;
  padding: 10px;
}
gallery img {
  width: 100%;
  height: auto;
}
desc {
  padding: 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
.responsive2 {
  float: left;
  float: bottom;
}
 
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
 
div.fix{
    position:fixed;
    right: 10px;
    top: 10px;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:100%; } 
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
}
